[dotenv@17.3.1] injecting env (2) from .env -- tip: 🔐 prevent building .env in docker: https://dotenvx.com/prebuild

-- -- Add indexes
-- CREATE INDEX IF NOT EXISTS "Transaction_userId_idx" ON "Transaction"("userId");
-- CREATE INDEX IF NOT EXISTS "Transaction_userId_paymentDate_idx" ON "Transaction"("userId", "paymentDate");
-- CREATE INDEX IF NOT EXISTS "TransactionContributor_friendId_idx" ON "TransactionContributor"("friendId");
-- CREATE INDEX IF NOT EXISTS "Friend_userId_idx" ON "Friend"("userId");
-- CREATE INDEX IF NOT EXISTS "Group_userId_idx" ON "Group"("userId");

-- -- Rename upiId to paymentHandle
-- ALTER TABLE "User" RENAME COLUMN "upiId" TO "paymentHandle";

-- -- Drop Settlement table (unused)
-- DROP TABLE IF EXISTS "Settlement";

CREATE INDEX IF NOT EXISTS "Transaction_userId_idx" ON "Transaction"("userId");
CREATE INDEX IF NOT EXISTS "Transaction_userId_paymentDate_idx" ON "Transaction"("userId", "paymentDate");
CREATE INDEX IF NOT EXISTS "TransactionContributor_friendId_idx" ON "TransactionContributor"("friendId");
CREATE INDEX IF NOT EXISTS "Friend_userId_idx" ON "Friend"("userId");
CREATE INDEX IF NOT EXISTS "Group_userId_idx" ON "Group"("userId");
DROP TABLE IF EXISTS "Settlement";

CREATE TABLE "User" (
  "id" TEXT NOT NULL PRIMARY KEY,
  "name" TEXT,
  "email" TEXT UNIQUE,
  "emailVerified" TIMESTAMP,
  "image" TEXT,
  "phone" TEXT,
  "city" TEXT,
  "upiId" TEXT,
  "createdAt" TIMESTAMP NOT NULL DEFAULT NOW(),
  "updatedAt" TIMESTAMP NOT NULL DEFAULT NOW(),ALTER TABLE "User" RENAME COLUMN "upiId" TO "paymentHandle"; 
);

CREATE TABLE "Account" (
  "id" TEXT NOT NULL PRIMARY KEY,
  "userId" TEXT NOT NULL REFERENCES "User"("id") ON DELETE CASCADE,
  "type" TEXT NOT NULL,
  "provider" TEXT NOT NULL,
  "providerAccountId" TEXT NOT NULL,
  "refresh_token" TEXT,
  "access_token" TEXT,
  "expires_at" INTEGER,
  "token_type" TEXT,
  "scope" TEXT,
  "id_token" TEXT,
  "session_state" TEXT,
  UNIQUE("provider", "providerAccountId")
);

CREATE TABLE "Session" (
  "id" TEXT NOT NULL PRIMARY KEY,
  "sessionToken" TEXT NOT NULL UNIQUE,
  "userId" TEXT NOT NULL REFERENCES "User"("id") ON DELETE CASCADE,
  "expires" TIMESTAMP NOT NULL
);

CREATE TABLE "VerificationToken" (
  "identifier" TEXT NOT NULL,
  "token" TEXT NOT NULL UNIQUE,
  "expires" TIMESTAMP NOT NULL,
  UNIQUE("identifier", "token")
);

CREATE TABLE "Friend" (
  "id" TEXT NOT NULL PRIMARY KEY,
  "name" TEXT NOT NULL,
  "prefix" TEXT,
  "phone" TEXT,
  "location" TEXT,
  "group" TEXT,
  "isFavourite" BOOLEAN NOT NULL DEFAULT FALSE,
  "createdAt" TIMESTAMP NOT NULL DEFAULT NOW(),
  "userId" TEXT NOT NULL REFERENCES "User"("id") ON DELETE CASCADE
);

CREATE TABLE "Group" (
  "id" TEXT NOT NULL PRIMARY KEY,
  "name" TEXT NOT NULL,
  "description" TEXT,
  "category" TEXT NOT NULL,
  "createdAt" TIMESTAMP NOT NULL DEFAULT NOW(),
  "updatedAt" TIMESTAMP NOT NULL DEFAULT NOW(),
  "userId" TEXT NOT NULL REFERENCES "User"("id") ON DELETE CASCADE
);

CREATE TABLE "Transaction" (
  "id" TEXT NOT NULL PRIMARY KEY,
  "title" TEXT NOT NULL,
  "description" TEXT NOT NULL,
  "category" TEXT NOT NULL,
  "paymentMethod" TEXT NOT NULL,
  "paymentType" TEXT NOT NULL,
  "amount" DECIMAL(10,2) NOT NULL,
  "remark" TEXT NOT NULL DEFAULT '',
  "paymentDate" TIMESTAMP NOT NULL DEFAULT NOW(),
  "createdAt" TIMESTAMP NOT NULL DEFAULT NOW(),
  "updatedAt" TIMESTAMP NOT NULL DEFAULT NOW(),
  "userId" TEXT NOT NULL REFERENCES "User"("id") ON DELETE CASCADE,
  "groupId" TEXT REFERENCES "Group"("id") ON DELETE SET NULL,ALTER TABLE "Transaction"
ADD COLUMN IF NOT EXISTS "paidByFriendId" TEXT REFERENCES "Friend"("id") ON DELETE SET NULL;

);

CREATE TABLE "TransactionContributor" (
  "id" TEXT NOT NULL PRIMARY KEY,
  "amount" DECIMAL(10,2) NOT NULL,
  "transactionId" TEXT NOT NULL REFERENCES "Transaction"("id") ON DELETE CASCADE,
  "friendId" TEXT NOT NULL REFERENCES "Friend"("id") ON DELETE CASCADE,
  UNIQUE("transactionId", "friendId"),
  ALTER TABLE "TransactionContributor" 
ADD COLUMN IF NOT EXISTS "settled" BOOLEAN NOT NULL DEFAULT FALSE,
ADD COLUMN IF NOT EXISTS "settledAt" TIMESTAMP;
  
);

CREATE TABLE "Settlement" (
  "id" TEXT NOT NULL PRIMARY KEY,
  "amount" DECIMAL(10,2) NOT NULL,
  "note" TEXT,
  "settled" BOOLEAN NOT NULL DEFAULT FALSE,
  "settledAt" TIMESTAMP,
  "createdAt" TIMESTAMP NOT NULL DEFAULT NOW(),
  "fromUserId" TEXT NOT NULL REFERENCES "User"("id") ON DELETE CASCADE,
  "toUserId" TEXT NOT NULL REFERENCES "User"("id") ON DELETE CASCADE,
  "friendId" TEXT NOT NULL REFERENCES "Friend"("id") ON DELETE CASCADE
);